$main-dark: #272727;
$main-dark-light: #3F3F3F;
$subMain-dark: #0f0f0f;
$main-light: #dce1e6;
$main-light-highlighted: #8d8d8d;
$subMain-light: #376e6f;
$white: #fff;

body {
    font-family: 'Mulish', sans-serif;
    background: #202020;
    transition: background-color .3s ease;
    scroll-behavior: smooth;
    color: $main-light;
}

.light-theme {
    background: $main-light;
}

.lock {
    overflow: hidden;
}

// COMMON CLASSES

.light-theme *:not(.download_apps_extensions, .download_apps_extensions_text, .apps_btn_gen, .nav_link, .general_content_block_name, .viewing_block_name, .extensions_btn_gen) {
    color: $subMain-dark;
    border-color: $subMain-dark;
}

.main_img {
    border-radius: 30px;
    width: 100%;
}

.main_text {
    text-align: center;
    margin-top: 30px;
}

#apps, #settings, #extensions, #pcConfiguration, #completedGames, #viewing {
    padding-top: 20px;
}

.general_content_block {
    transition: all .3s;
}

.general_content_block_name {
    background: $subMain-dark;
    opacity: .9;
    position: absolute;
    z-index: 4;
    margin: 5px;
    padding: 5px;
    color: $main-light;
    border-radius: 5px;
}

.general_content_block_img {
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: all .3s ease;
    border-radius: 10px;
}

.general_content_block:hover {
    transform: scale(0.97);
}

.extensions_btn {
    display: flex;
    margin-top: 40px;
    gap: 20px;
}
.extensions_btn_gen {
    background: $subMain-dark;
    font-size: 20px;
    font-weight: 700;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: $main-light;
}

.block_title {
    font-size: 45px;
    margin-bottom: 30px;
}

.download_apps_extensions_all {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.download_apps_extensions {
    display: flex;
    flex-direction: column;
    background: $subMain-dark;
    justify-content: space-between;
    width: 150px;
    height: 180px;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding: 10px 5px;
    transition: transform .3s ease;
    z-index: 2;
    color: $main-light;
}

@media (hover: hover) {
    .download_apps_extensions:hover {
        transform: scale(0.9);
    }
}

@media (hover: none) {
	.download_apps_extensions:active {
		transform: scale(0.9);
	}
}

.download_apps_extensions_icon {
    max-width: 115px;
    border-radius: 5px;
}

.btn_gen {
    background: $subMain-dark;
    font-size: 20px;
    font-weight: 700;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: $main-light;
}


// COMMON CLASSES




// HEADER

.header_section {
    background: $subMain-dark;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo_img {
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
}

.nav_list {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav_item:last-child {
    display: none;
}

.nav_item:nth-child(7) {
    margin-left: 40px;
}

.burger_menu {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 34px;
    transform: translateY(-5%);
}

.burger_menu span {
    position: absolute;
    top: 16px;
    width: 100%;
    height: 3px;
    background: $main-light;
    left: 0;
    transition: all .3s ease;
    border-radius: 1px;
}

.burger_menu::before,
.burger_menu::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: $main-light;
    transition: all .3s ease;
    border-radius: 1px;
}

.burger_menu::before {
    top: 0;
}

.burger_menu::after {
    bottom: 0;
}

.burger_menu-active::before {
    top: 15.2px;
    transform: rotate(45deg);
}

.burger_menu-active span {
    transform: scale(0);
}

.burger_menu-active::after {
    bottom: 16px;
    transform: rotate(-45deg);
}

.nav_mobile {
    display: none;
}

.nav_link {
    display: block;
    background: $main-dark;
    padding: 8px 8px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    transition: all .3s;
    color: $main-light;
}

@media (hover: hover) {
    .nav_link:hover {
        background: $main-dark-light;
    }
}

@media (hover: none) {
	.nav_link:active {
		background: $main-dark-light;
	}
}

.nav_link-active {
    color: $subMain-dark;
    background: $main-light;
    cursor: default;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display:none;   
}

.slider {
    background: $main-dark;
    bottom: 0;
    cursor: pointer;
    border-radius: 10px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}

@media (hover: hover) {
    .slider:hover {
        background: $main-dark-light;
    }
}

@media (hover: none) {
	.slider:active {
		background: $main-dark-light;
	}
}

.slider:before {
    background: #fff;
    bottom: 4px;
    content: "";
    border-radius: 10px;
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
}

input:checked + .slider {
    background: $main-light;
}

input:checked + .slider:before {
    transform: translateX(26px);
    background: $main-dark;
}
  
// HEADER


// APPS

.apps_section {
    margin-top: 120px;
}

.apps_btn {
    display: flex;
    margin-top: 40px;
    gap: 20px;
}

// APPS


// SETTINGS

.settings_section {
    margin-top: 100px;
}

.settings_list_block {
    margin-top: 50px;
}

.settings_item_block {
    border-top: 2px solid $main-light;
}

.settings_text_block {
    max-width: 1100px;
    margin: 50px 0 30px;
    word-wrap: break-word;
}

.settings_detailed_list {
    max-width: 870px;
}

.settings_detailed_list span, .settings_text_block .span {
    color: $main-light-highlighted;
    font-weight: 700;
}

.settings_detailed_item_text {
    margin: 20px 0 50px;
}

.copyText {
    cursor: pointer;
    transition: color .6s;
    word-wrap: break-word
}
.light-theme .copyText {
    color: $main-light-highlighted;
}
@media (hover: hover) {
    .copyText:hover {
        color: $main-light;
    }
    .light-theme .copyText:hover {
        color: $subMain-dark;
    }
}

@media (hover: none) {
	.copyText:active {
		color: $subMain-dark;
	}
}

// SETTINGS


// EXTENSIONS

.extensions_btn {
    display: flex;
    margin-top: 40px;
    gap: 20px;
}
.extensions_btn_gen {
    background: $subMain-dark;
    font-size: 20px;
    font-weight: 700;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: $main-light;
}

// EXTENSIONS


// COMPLETEDGAMES

.completedGames_section {
    margin-bottom: 30px;
    margin-top: 80px;
}

.completedGames_block_all {
    display: flex;
    gap: 22px;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}

// COMPLETEDGAMES


// VIEWING

.viewing_section {
    margin: 80px 0;
}

.viewing_block_all {
    display: flex;
    gap: 22px;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}

.viewing_block {

}

.viewing_block_name {
    background: $subMain-dark;
    position: absolute;
    z-index: 4;
    margin: 5px;
    padding: 5px;
    color: $main-light;
    border-radius: 5px;
}

.viewing_block_img_movies {
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: all .3s ease;
    border-radius: 10px;
}

.viewing_block:hover .viewing_block_img_movies {
    transform: scale(0.98);
    border-radius: 0px;
}

// VIEWING


// PC_WORKPLACE

.pc_configuration_section {
    margin: 80px 0;
}

.pc_configuration {

}

.pc_start_image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.pc_image {
    max-width: 350px;
    width: 90%;
    border-radius: 10px;
}

.pc_configuration_all {
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.pc_configuration_title {
    font-size: 30px;
}
.pc_full_configuration {
    margin-top: 30px;
    
}
.pc_full_configuration_list {
    
}
.pc_full_configuration_item {
    position: relative;
    gap: 30px;
    display: flex;
    border-bottom: 1px dashed $main-light;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-bottom: 15px;
}
.pc_full_con-category {
    font-size: 20px;
}
.pc_full_con-icon {
}
.pc_full_con_icon-img {
    max-width: 25px;
}
.pc_full_con-name {
    font-size: 18px;
}

.pc_configuration_img-png {
    max-width: 600px;
    width: 100%;
}

// PC_WORKPLACE


// MEDIA

@media (max-width: 1250px) {
    .pc_configuration_all {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .pc_configuration_img {
        order: 1;
    }
    .pc_configuration_text {
        order: 2;
    }
}

@media (max-width: 1024px) {

    .nav_list li:nth-child(-n+6) {
        display: none;
    }

    .nav_item:last-child {
        display: block;
    }

    .nav_mobile {
        transition: scroll .5s ease;
    }

    .nav_mobile-active {
        position: fixed;
        display: flex;
        background: $main-dark;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 11;
        overflow-y: auto;
        justify-content: center;
        text-align: center;
        padding-top: 10px;
        z-index: 11;
        padding-top: 21px;
    }

    .nav_link {
        display: inline-block;
    }

    .nav_item:last-child {
        z-index: 12;
    }

    .nav_item_mobile:not(:last-child) {
        padding-bottom: 10px;
    }
    .main_img {
        border-radius: 10px;
    }
}

@media (max-width: 650px) {
    .block_title {
        font-size: 35px;
    }
    .pc_configuration_text {
        text-align: center;
    }
    .pc_configuration_title {
        font-size: 25px;
    }
    .pc_full_configuration_item {
        flex-direction: column;
        gap: 0;
    }
    .pc_full_con-icon {
        padding: 10px 0;
    }
    .pc_configuration_text {
        margin-top: 550px;
    }
}

@media (max-width: 450px) {
    .block_title {
        font-size: 25px;
    }
    .settings_text_block {
        font-size: 25px;
    }
}
// @media (max-width: 350px) {
//     .settings_text_block {
//         font-size: 20px;
//     }
// }

// MEDIA