$header: #202020;
$all-words: #ffffff;
$dark_theme: #171717;
$white_theme: #fff;
$block: linear-gradient(90deg,#454545,#212121);
$default_color_r: #38725a;
$default_color_r-hover: #2e5e4a;
$default_color_r_pc_block: #141817;
$white: #fff;

$main-dark: #272727;
$main-dark-light: #3F3F3F;
$subMain-dark: #0f0f0f;
$main-light-highlighted: #8d8d8d;
$subMain-light: #376e6f;
$white: #fff;

body {
    font-family: 'Mulish', sans-serif;
    background: $dark_theme;
    transition: background-color .3s ease;
    scroll-behavior: smooth;
    color: $all-words;
}

.light-theme {
    background: $all-words;
    transition: all .3s;
}

.lock {
    overflow: hidden;
}

[lang="ru"] .nav_link {
    font-size: 17px;
}

.light-theme *:not(.download_apps_extensions, .download_apps_extensions_text, .apps_btn_gen, .nav_link, .viewing_block_name, .btn_gen, .pc_configuration_section, .setup_workplace-text_title, .setup_workplace-text_subTitle, .copy-message, #scrollBtn) {
    color: $subMain-dark !important;
    border-color: $subMain-dark !important;
}

#scrollBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: $default_color_r;
    color: white;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    border: none;
    font-size: 40px;
    cursor: pointer;
    transition: all .3s ease;
    z-index: 9;
}
@media (hover: hover) {#scrollBtn:hover {background: $default_color_r-hover;}}

@media (hover: none) {#scrollBtn:active {background: $default_color_r-hover;}}
  
  
  

.main_img {
    border-radius: 30px;
    width: 100%;
}

.main_text {
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
}

#apps, #settings, #extensions, #pcConfiguration, #completedGames, #viewing, #books {
    padding-top: 20px;
}

.general_content_block {
    transition: all .3s;
    max-width: 170px;
    max-height: 250px;
    height: 100%;
    margin-bottom: 40px;
}

.general_content_block_name {
    opacity: .8;
    position: absolute;
    z-index: 4;
    padding-top: 5px;
    margin-bottom: 0;
    color: $all-words;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 170px;
}

.general_content_block_img {
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: all .3s ease;
    border-radius: 10px;
}
@media (hover: hover) {.general_content_block:hover {transform: scale(0.95);}}

@media (hover: none) {.general_content_block:active {transform: scale(0.95);}}

.extensions_btn {
    display: flex;
    margin-top: 40px;
    gap: 20px;
}


.block_title {
    font-size: 45px;
    margin-bottom: 30px;
}

.download_apps_extensions_all {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.download_apps_extensions {
    display: flex;
    flex-direction: column;
    background: $block;
    justify-content: space-between;
    width: 150px;
    height: 180px;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding: 10px 5px;
    transition: transform .3s ease;
    z-index: 2;
    color: $all-words;
}

@media (hover: hover) {.download_apps_extensions:hover {transform: scale(0.95);}}

@media (hover: none) {.download_apps_extensions:active {transform: scale(0.95);}}

.download_apps_extensions_icon {
    max-width: 115px;
    border-radius: 5px;
}

.btn_gen {
    background: $default_color_r;
    font-size: 20px;
    font-weight: 700;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: $all-words;
    border: solid $default_color_r;
    transition: background .3s;
}
@media (hover: hover) {.btn_gen:hover {background: $default_color_r-hover;}}

@media (hover: none) {.btn_gen:active {background: $default_color_r-hover;}}

.header_section {
    background: $header;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.header_container {
    max-width: 1570px;
    margin: 0 auto;
    padding: 0 20px;
}

.container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo_img {
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
}

.nav_list {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav_item:last-child {
    display: none;
}

.nav_item:nth-child(8) {
    margin-left: 40px;
}

.burger_menu {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 34px;
    z-index: 13;
    align-items: center;
}

.burger_menu span {
    position: absolute;
    top: 16px;
    width: 100%;
    height: 3px;
    background: $all-words;
    left: 0;
    transition: all .3s ease;
    border-radius: 1px;
    z-index: 132;
}

.burger_menu::before, .burger_menu::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: $all-words;
    transition: all .3s ease;
    border-radius: 1px;
}

.burger_menu::before {
    top: 0;
}

.burger_menu::after {
    bottom: 0;
}

.burger_menu-active::before {
    top: 15.2px;
    transform: rotate(45deg);
}

.burger_menu-active span {
    transform: scale(0);
}

.burger_menu-active::after {
    bottom: 16px;
    transform: rotate(-45deg);
}

.nav_mobile {
    display: none;
}

.nav_link {
    display: block;
    padding: 8px 8px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    transition: all .3s;
    color: $all-words !important;
}

@media (hover: hover) {.nav_link:hover {color: $default_color_r;}}

@media (hover: none) {.nav_link:active {color: $default_color_r;}}

.nav_link-active {
    color: $subMain-dark;
    background: $all-words;
    cursor: default;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {display:none;}

.slider {
    background: $main-dark;
    bottom: 0;
    cursor: pointer;
    border-radius: 10px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}

@media (hover: hover) {.slider:hover {background: $main-dark-light;}}

@media (hover: none) {.slider:active {background: $main-dark-light;}}

.slider:before {
    background: #fff;
    bottom: 4px;
    content: "";
    border-radius: 10px;
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
}

input:checked + .slider {background: $all-words;}

input:checked + .slider:before {transform: translateX(26px); background: $main-dark;}

.apps_section {margin-top: 110px;}

.apps_btn {
    display: flex;
    margin-top: 40px;
    gap: 20px;
}

.settings_section {margin-top: 100px;}

.settings_list_block {margin-top: 50px;}

.settings_item_block {border-top: 2px solid $all-words;}

.settings_text_block {
    max-width: 1100px;
    margin: 50px 0 30px;
    word-wrap: break-word;
}

.settings_detailed_list {max-width: 870px;}

.settings_detailed_list span, .settings_text_block .span {
    color: $main-light-highlighted;
    font-weight: 700;
}

.settings_detailed_item_text {margin: 20px 0 50px;}

.copyText {
    cursor: pointer;
    transition: color .6s;
    word-wrap: break-word
}

.copy-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $default_color_r;
    color: $all-words;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    animation: fadeInOut 2s ease-out;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

.light-theme .copyText {color: $main-light-highlighted;}

@media (hover: hover) {.copyText:hover {color: $all-words;}.light-theme .copyText:hover {color: $subMain-dark;}}

@media (hover: none) {.copyText:active {color: $subMain-dark;}}

.completedGames_section {
    margin-bottom: 30px;
    margin-top: 80px;
}

.completedGames_block_all {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}

.viewing_section {margin: 80px 0;}

.viewing_block_all {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}

.books_section {
    margin-bottom: 50px;
}

.books_block_all {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}

.viewing_block_name {
    background: $subMain-dark;
    position: absolute;
    z-index: 4;
    margin: 5px;
    padding: 5px;
    color: $all-words;
    border-radius: 5px;
}

.viewing_block_img_movies {
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: all .3s ease;
    border-radius: 10px;
}

.viewing_block:hover .viewing_block_img_movies {
    transform: scale(0.95);
    border-radius: 0px;
}

.pc_configuration_section {margin: 80px 0;}

.pc_start_image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.pc_image {
    max-width: 350px;
    width: 90%;
    border-radius: 10px;
}

.pc_configuration_all {
    position: relative;
    max-width: 500px;
    width: 100%;
    height: auto;
    box-shadow: 0 0 8px 0 $default_color_r;
    border-radius: 25px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}
.light-theme .pc_configuration-top {
    background: radial-gradient(45.41% 49.44% at 49.06% 52.82%, $default_color_r 0, $white_theme 100%);
}
.pc_configuration-top {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: radial-gradient(45.41% 49.44% at 49.06% 52.82%, $default_color_r 0, $default_color_r_pc_block 100%);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
}
.pc_configuration-top_img {
    max-width: 400px;
    width: 100%;
    padding-top: 30px;
}
.pc_configuration-top_price {
    font-size: 30px;
    font-weight: 900;
    color: $all-words;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}
.pc_configuration-bottom {
    padding-bottom: 5px;
}
.pc_configuration-bottom_info_all {
    display: flex;
    margin-bottom: 16px;
    flex-wrap: wrap;
}
.pc_configuration-bottom_info {
    font-size: 10px;
    line-height: 1.5;
    width: 33.33333%;
    padding-top: 16px;
    padding-bottom: 10px;
    text-align: center;
}
.pc_configuration-bottom_info-title {
    font-size: 14px;
    font-weight: 800;
    line-height: 1.66;
    margin-bottom: 2px;
    letter-spacing: .36px;
}
.pc_configuration-bottom_info-subtitle {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: .36px;
}

.setup_workplace_list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 50px;
}

.setup_workplace-wrapper {
    width: 400px;
    height: 200px;
    background: $default_color_r;
    border-radius: 22px;
    transition: all .3s;
}

@media (hover: hover) {.setup_workplace-wrapper:hover {transform: scale(0.95); background: $default_color_r-hover;}}

@media (hover: none) {.setup_workplace-wrapper:active {transform: scale(0.95); background: $default_color_r-hover;}}

.setup_workplace_list li:nth-child(odd) .setup_workplace .setup_workplace-photo {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.setup_workplace_list li:nth-child(even) .setup_workplace .setup_workplace-photo {
    order: 2;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.setup_workplace {
    display: flex;
    align-items: center;
    height: 100%;
}

.setup_workplace-photo {
    flex: 1;
    height: 100%;
    overflow: hidden;
}
.setup_workplace-photo_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.setup_workplace-text {
    flex: 0.8;
    padding: 0 20px;
    color: $all-words;
}
.setup_workplace-text_title {
    font-size: 20px;
    font-weight: 700;
}

.setup_workplace-text_title,
.setup_workplace-text_subTitle {
    color: $all-words;
}

.setup_workplace_block-img {
    z-index: 2;
    max-width: 200px;
}

.setup_workplace_block:nth-child(2n) {flex-direction: row-reverse;}

.setup_workplace_block:nth-child(2n) .setup_workplace_block-img {margin-left: auto;margin-right: 0;}

.setup_workplace_block:nth-child(odd) .setup_workplace_block-img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.setup_workplace_block:nth-child(even) .setup_workplace_block-img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.setup_workplace_block-text {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 1250px) {
    .pc_configuration_all {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .pc_configuration_img {
      order: 1;
    }
    .pc_configuration_text {
      order: 2;
    }
  }
  
@media (max-width: 1260px) {
    .nav_list li:not(:nth-last-child(-n+2)) {
        display: none;
    }
    .nav_item:last-child {
        display: block;
    }
    .nav_mobile {
        transition: scroll .5s ease;
    }
    .nav_mobile-active {
        position: fixed;
        display: flex;
        background: $main-dark;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 11;
        overflow-y: auto;
        justify-content: center;
        text-align: center;
        padding-top: 10px;
        z-index: 9;
        padding-top: 21px;
    }
    .nav_link {
        display: inline-block;
    }
    .nav_item:last-child {
        z-index: 12;
    }
    .nav_item_mobile:not(:last-child) {
        padding-bottom: 10px;
    }
    .main_img {
        border-radius: 10px;
    }
}
  
@media (max-width: 650px) {
    .main_text {
        font-size: 25px;
    }
    .block_title {
        font-size: 35px;
    }
    .pc_configuration_text {
        text-align: center;
    }
    .pc_configuration_title {
        font-size: 25px;
    }
    .pc_full_configuration_item {
        flex-direction: column;
        gap: 0;
    }
    .pc_full_con-icon {
        padding: 10px 0;
    }
    // .general_content_block {
    //     margin-bottom: 30px;
    // }
    .setup_workplace-wrapper {
        width: 300px;
        height: 150px;
    }
    .setup_workplace-text {
        flex: 0.8;
        padding: 0 10px;
    }
    .setup_workplace-text_title {
        font-size: 17px;
        font-weight: 500;
    }
    .setup_workplace-text_subTitle {
        font-size: 13px;
    }
    .completedGames_section {
        margin-top: 40px;
    }
    #scrollBtn {
        width: 70px;
        height: 70px;
    }
}
  
  
@media (max-width: 450px) {
    .block_title {
        font-size: 25px;
    }
    .settings_text_block {
        font-size: 25px;
    }

    .setup_workplace-wrapper {
        max-width: 300px;
        max-height: 150px;
        width: 100%;
        height: 100%;
    }

    .setup_workplace_block-img {
        max-width: 200px;
        max-height: 200px;
        width: 100%;
        height: 100%;
    }
}  

@media (max-width: 405px) {
    .general_content_block {
        transition: all .3s;
        max-width: 140px;
        margin-bottom: 20px;
    }
    
    .general_content_block_name {
        font-size: 14px;
        font-weight: 600;
        width: 140px;
    }
}

@media (max-width: 350px) {
    .setup_workplace-text {
        padding: 0 5px;
        max-width: 50%;
    }
    .setup_workplace-text_title {
        word-wrap: break-word;
        font-size: 15px;
    }
    .setup_workplace-text_subTitle {
        font-size: 10px;
    }
}  